 #topFieldsGroupcont,
 #lowerGroupcont {
     border: none;
     margin: 0px;
     padding: 0px;
     width: auto;

 }

 #topRightFieldsGroupcont,
 #topLeftFieldsGroupcont,
 #lowerLeftGroupcont,
 #lowerRightGroupCont {
     display: inline-block;
     max-width: 550px;
     min-width: 300px;
     border: none;
     margin: 0px;
     padding: 0px;
     width: auto;
 }

 #proceduresCont {
     min-width: 800px;
     max-width: 1330px;
 }

 #claimRemarksCont {
     width: 98%;
     max-width: 1330px;
 }

 #claimRemarks {
     width: 100%;
     -webkit-box-sizing: border-box;
     /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;
     /* Firefox, other Gecko */
     box-sizing: border-box;
 }


 @media only screen and (max-width: 768px) {

     #topRightFieldsGroupcont,
     #topLeftFieldsGroupcont,
     #lowerLeftGroupcont,
     #lowerRightGroupCont {
         width: 99% !important;
         max-width: 99% !important;
         min-width: 99% !important;
     }

     #proceduresCont {
         width: 100%;
         max-width: 100%;
         min-width: 100%;
     }
 }