  img.sampleImage {
      width: 100%;
  }

  .inputFrm {
      width: auto;
      height: 100%;
      font-family: Verdana, Vivaldi, 'Vladimir Script';
      background-color: ivory;
      font-size: 0.8em;
      padding: 0px;
      margin: 0px;
      border: none;
      overflow-y: auto;
      overflow-x: hidden;
  }

  .inputFrmHead {
      width: 99.5%;
      font: 600;
      background-color: rgb(110, 104, 104);
      font-size: 1.2em;
      margin: 0px;
      color: azure;
      padding: 0.1em;

  }


  .input_fieldContainer,
  .input_fieldvContainer {
      margin-top: 0.25em;
      display: inline-block;
  }

  .input_fieldvContainer {
      display: block;
  }

  .input_fieldLabel,
  .input_fieldvLabel {
      display: inline-block;
      width: 8em;
      text-align: right;
      vertical-align: top;
      color: cadetBlue;
      padding-left: 0.05em;
      padding-right: 0.09em;
      margin-right: 0.1em;
  }

  .input_field,
  .input_fieldv {
      display: inline-block;
      border-radius: 4px;
      padding: 0.08em;
      padding-left: 0.2em;
      margin: 0em;
      margin-left: 0.06em;
      color: rgb(13, 85, 9);
      font-size: 1em;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }

  .submit_button {
      margin-right: 8em;
      margin-left: 80%;
      margin-top: 4em;
      border-radius: 4px;
  }


  #operatorStateContainer .input_fieldLabel,
  #operatorZipContainer .input_fieldLabel {
      width: fit-content;
      padding-left: 0.15em;
  }


  #dataObjDiv {
      display: table-cell;
      font-family: Arial, Helvetica, sans-serif;
      max-width: 20em;
      min-width: 15%;
      overflow: scroll;
      font-size: 0.78em;
      background-color: rgb(223, 222, 221);
  }


  div.vgroup {
      width: auto;
      display: block;
      margin-bottom: 0.5em;

  }

  bgroup.legend {
      width: auto;
      border-color: darkgrey;
      width: auto;
      margin-bottom: 0px;
      font-size: 12px;
      font-weight: bold;
      color: #1f497d;
  }

  fieldset.vgroup {
      display: block;
      margin-top: 7px;
      border-color: rgb(231, 228, 228);
      background-color: rgb(247, 245, 228);
      border-radius: 3px;
  }

  legend.vgroupLabel {
      width: 99%;
      font-size: 1.2em;
      color: dimgray;
      display: block;
      background-color: rgb(199, 194, 194);
      margin: 0;
      margin-bottom: 0.5em;
      margin-top: 0.6em;
      margin-left: 0.2em;
  }

  fieldset.inputFrm {
      margin-left: 4em;
  }