/*https://www.w3schools.com/cssref/css_websafe_fonts.asp*/

body {
    font-family: "Gotham Medium", "Lucida Sans Unicode",
        "Lucida Grande", Geneva, "Calibri", "Arial Narrow",
        Tahoma,
        "Trebuchet MS", Veranda, Geneva,
        sans-serif;
    flex-wrap: wrap;
}

#mbody {}

.input_fieldCont,
.input_fieldvCont,
.input_fieldContainer,
.input_fieldvContainer,
.vert_radioCont {}

.input_fieldLabel,
.input_fieldvLabel,
.vert_radioLabel,
.hor_radioLabel {
    font-family: Charcoal,
        Helvetica,
        "Trebuchet MS",
        sans-serif;

    font-weight: 600;
    font-size: 0.8em;
    color: dimgrey;
}


input.input_field,
.input_fieldv,
select.input_field,
fieldset.hor_radio,
fieldset.vert_radio,
fieldset.radio {
    background-color: #F7F8FA;
    border: 1px solid #7D8083;
    border-radius: 3px;
    padding: 0.3em;
    height: 2.4em;
}

#page {
    display: flex;
    flex-wrap: nowrap;

}

.hbuttoncontain {
    display: inline-block;
}

.searchButtonscont {
    display: block;
    width: 98%;
    text-align: end;
    margin-bottom: 1em;
}

@media only screen and (min-width : 800px) {
    div.simpleSearchcont {
        display: flex;
        overflow-y: auto;
        max-height: 30em;
        width: fit-content;
        max-width: 100%;
        overflow-x: wrap;
    }
}

@media only screen and (min-width : 1024px) {
    div.simpleSearchcont {
        display: flex;
        overflow-y: auto;
        max-height: 30em;
        width: fit-content;
        max-width: 100%;
        overflow-x: wrap;
    }

    div.input_fieldCont {
        margin-left: 1.22em;
    }

}


/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 800px) {
    body {
        font-size: 12pt;
    }

    #page-vmid {
        flex-wrap: wrap;
        max-width: 100%;
    }

    #mbody {
        max-width: 100%;
    }

    .inputFrm {
        max-width: 100%;
    }

    table.simpleSearchtbl {
        min-width: 800px;
    }

    div.simpleSearchcont {
        max-width: 100%;
        overflow-x: auto;
        max-height: none;
    }


    input.input_field,
    .input_fieldv,
    select.input_field,
    fieldset.hor_radio,
    fieldset.vert_radio,
    fieldset.radio {
        background-color: #F7F8FA;
        border: 1px solid #7D8083;
        border-radius: 2px;
        padding: 0px;
        height: auto;
        font-size: 1.1em;
        width: auto;
    }

    div.input_fieldCont {
        margin-left: 0px;
    }

    .input_fieldCont,
    .input_fieldvCont,
    .input_fieldContainer,
    .input_fieldvContainer,
    .vert_radioCont {
        margin: 0px;
        padding: 0px;
        display: flex;
    }

    div.auto_sug_items {
        padding-bottom: 0.7em;
    }


}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 400px) {
    body {
        font-size: 13pt;
    }